{% extends 'index.html' %} {% load static %} {% block content %}
<div class="right">
    <h1 class="right__title">Python-программист</h1>

    <p class="li-right__p">
        Python-разработчик — это программист, в обязанности которого входит
        разработка серверной части сайта. То есть, как правило, это
        backend-девелоперы. С помощью Python можно разрабатывать игры и
        приложения, создавать боты и нейросети, писать плагины и скрипты. Задача
        питониста — обеспечить корректный ответ сервисов на запросы
        пользователей.
    </p>

    <p class="li-right__p">
        Python-разработчик должен иметь представление про алгоритмы и структуры
        данных, уметь строить архитектуру веб-приложений, обладать опытом работы
        с базами данных и понимать, как работать с высокой нагрузкой и, конечно,
        хорошо знать язык Python и его особенности.
    </p>
    <ul class="right__list">
        <li class="right__li li-right">
            <div class="li-right__text"></div>
        </li>
        <li class="right__li li-right reversed">
            <div class="li-right__img">
                <img src="{% static 'img/snake.png' %}" alt="cat" />
            </div>
            <div class="li-right__text">
                <h3 class="li-right__p">Чем занимается Python-разработчик</h3>
                <p class="li-right__p">
                    Python-разработчик пишет многоуровневый код, который создает
                    функционал того или иного сервиса на стороне сервера. Это
                    может быть сайт, мобильное приложение, телеграм-бот,
                    нейросеть — спектр продуктов, где востребованы питонисты,
                    огромен.
                </p>
                <p class="li-right__p">
                    Если говорить более конкретно, с помощью Python-кода
                    программист:
                </p>
                <ul style="list-style: disc; list-style-position: inside">
                    <li>настраивает передачу данных;</li>
                    <li>работает с базами данных;</li>
                    <li>
                        обеспечивает функционирование сетевых протоколов HTTP и
                        HTTPS;
                    </li>
                    <li>создает парсеры для сбора данных в сети;</li>
                    <li>корректирует работу парсеров при необходимости;</li>
                    <li>оптимизирует работу сайтов и приложений.</li>
                </ul>
            </div>
        </li>
        <li class="right__li li-right">
            <div class="li-right__img">
                <img src="{% static 'img/computer.png' %}" alt="cat" />
            </div>
            <div class="li-right__text">
                <h3 class="li-right__p">Что надо знать Python-разработчику</h3>
                <p class="li-right__p">
                    Нужно базово знать язык программирования. К базовым знаниям
                    относятся:
                </p>
                <ul style="list-style: disc; list-style-position: inside">
                    <li>
                        типы и структуры данных: чем они отличаются друг от
                        друга, например, в каких случаях лучше использовать
                        списки, а когда ― кортежи
                    </li>
                    <li>как хранятся переменные</li>
                    <li>что такое условные конструкции, циклы и функции</li>
                </ul>
                <p class="li-right__p">
                    При этом список нужных для работы скиллов отличается от
                    направления, в котором вы хотите развиваться.
                </p>
            </div>
        </li>
        <li class="right__li li-right reversed">
            <div class="li-right__img">
                <img src="{% static 'img/yellow.png' %}" alt="cat" />
            </div>
            <div class="li-right__text">
                <h3 class="li-right__p">Достоинства Python-разработчика</h3>
                <ul style="list-style: disc; list-style-position: inside">
                    <li>o возможность быстро расти при должном стремлении;</li>
                    <li>
                        o непрерывное развитие — IT-индустрия не стоит на месте;
                    </li>
                    <li>
                        o высокий доход, у которого практически нет потолка;
                    </li>
                    <li>o работа из любой точки мира, где есть интернет;</li>
                    <li>
                        o отличные перспективы — Python занимает первое место по
                        востребованности языков программирования.
                    </li>
                </ul>
            </div>
        </li>
        <li class="right__li li-right">
            <div class="li-right__img">
                <img src="{% static 'img/red.jpg' %}" alt="cat" />
            </div>
            <div class="li-right__text">
                <h3 class="li-right__p">Минусы работы Python-разработчика</h3>
                <p class="li-right__p">
                    Часто при трудоустройстве на высокооплачиваемую должность
                    нужны дополнительные навыки работы с другими языками
                    программирования. Кроме того, без усидчивости и
                    внимательности в этой профессии не обойтись.
                </p>
            </div>
        </li>
    </ul>
    <h3 class="li-right__p">Как стать Python-разработчиком</h3>
    <p class="li-right__p">
        Для освоения языков программирования обычно нужна неплохая база
        фундаментальных IT-знаний. Но с Python это необязательная опция: в силу
        простоты синтаксиса его можно изучить и с нуля. Стоит ли делать это
        самостоятельно? Если у вас есть опыт программирования, освоить Python
        можно по видео и самоучителям. Если подготовки нет, воспользуйтесь
        помощью профессионалов. Выбор огромен: профильное обучение предлагают и
        вузы, и специализированные онлайн-платформы.
    </p>
</div>
{% endblock %}
